:host {
  position: absolute;

  display: block;
  &, .background {
    width: var(--node-size);
    height: var(--node-size);
  }

  svg {
    overflow: visible;
    width: 100%;
    --color: var(--color-main);
  }

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4rem;
    width: 4rem;
    transform: translate(-50%, -50%);
    svg * {
      fill: none;
      stroke: var(--color-text);
    }
  }

  synthia-waveform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    transform: translateY(-50%);

    pointer-events: none;

    opacity: 0.2;
    &.playing {
      opacity: 1;
    }
  }

  synthia-waveform {
    height: 6rem;
  }
}
