header {
  position: fixed;
  top: calc(1/3 * var(--margin));
  left: var(--margin);
  right: var(--margin);
  z-index: 10;
  display: grid;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    border-bottom: 2px solid var(--color-main);
    width: 8rem;
    height: 0.5rem;
    opacity: 0.3;
  }

  &:before {
    border-left: 3rem solid var(--color-main);
    left: 0;
  }
  &:after {
    border-right: 3rem solid var(--color-main);
    right: 0;
  }

  .logo {
    margin: auto;
    height: 5rem;
    margin-top: -1rem;
  }
}
