:host {
  --tile-size: 7rem;
  position: absolute;
  left: var(--margin);
  top: var(--margin);
  bottom: calc(var(--margin) * 1);
  width: var(--tile-size);
  border-right: 0.1rem solid var(--color-line);
  display: grid;
  padding-top: 4rem;
  grid-template-columns: var(--tile-size);
  grid-auto-rows: var(--tile-size);
  align-items: center;
  justify-content: center;

  & > div:first-of-type {
    border-top: 0.1rem solid var(--color-dark);
  }
  & > div:last-of-type {
    border-bottom: 0.1rem solid var(--color-dark);
  }

  div.button + div.drag {
    border-top: 0.1rem solid var(--color-dark);
  }

  div {
    position: relative;
    text-align: center;
    line-height: var(--tile-size);
    transition: all 0.2s;
    cursor: grab;
    user-select: none;
    opacity: 0;
    animation: fade-in 0.5s forwards;

    s-icon {
      width: 4rem;
      display: inline-block;
      vertical-align: middle;
      transition: all 0.2s ease-out;

      --stroke-width: 0.2rem;
    }

    &.button {
      s-icon {
        --color: var(--color-white);
      }
    }
    &.drag s-icon {
      --color: var(--color-alt);
    }

    span {
      position: absolute;
      top: 50%;
      right: -2rem;
      transform: translate(100%, -50%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
      pointer-events: none;

      height: 3rem;
      line-height: 3rem;
      padding: 0 1rem;
      white-space: nowrap;

      text-align: center;
      background: var(--color-hover);
      border-radius: 1.5rem;
    }

    &:hover {
      background: var(--color-hover);

      span {
        visibility: visible;
        opacity: 1;
        right: -1rem;
      }

      s-icon {
        transform: scale(1.2)
      }
    }
  }

}


@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
