:host {
  display: block;
  position: fixed;
  box-sizing: content-box;

  top: calc(var(--margin) * 2);
  right: calc(var(--margin) * 2);
  bottom: calc(var(--margin) * 2);
  width: 32rem;

  background-color: var(--color-bg-off);
  border: 1px solid var(--color-main);

  overflow-y: auto;

  &:before, &:after {
    --size: 0.5rem;
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: var(--size);
    width: calc(100% + var(--size));
    margin-left: calc(var(--size)/-2);
    margin-top: calc(var(--size)/-2);
    border-left: var(--size) solid var(--color-main);
    border-right: var(--size) solid var(--color-main);
  }

  &:after {
    bottom: calc(var(--size) / -2);
  }

  header {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: var(--color-main);
      opacity: 0.1;
      z-index: -1;
    }

    h2 {
      flex: 1;
      font-size: 1.8rem;
      letter-spacing: 1px;
      line-height: 4rem;
      margin: 0;
      margin-left: 1rem;
      font-weight: normal;
    }

    span {
      flex-grow: 0;
      display: inline-block;
      svg {
        height: 4rem;
        width: 4rem;
        --color: var(--color-main);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          --color: var(--color-alt);
        }
      }
    }
  }

  main {
    padding: 0 var(--margin);
  }
}
