:host {
  --margin: 3rem;
  position: fixed;
  bottom: 0;
  left: var(--margin);
  right: var(--margin);
  height: 8rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 6rem);
  align-items: center;
  justify-content: center;


  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2rem;
    border-top: 2px solid var(--color-main);
    width: 8rem;
    height: 0.5rem;
    opacity: 0.3;
  }

  &:before {
    border-left: 3rem solid var(--color-main);
    left: 0;
  }

  &:after {
    border-right: 3rem solid var(--color-main);
    right: 0;
  }

  &>svg {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    z-index: -1;
  }


  div {
    // flex: 1;
    text-align: center;
    line-height: 6rem;
    transition: all 0.2s;

    svg {
      width: 4rem;
      display: inline-block;
      vertical-align: middle;
      --color: var(--color-main);

      * {
        stroke-width: 0.2rem;
      }
    }

    span {
      position: absolute;
      left: 50%;
      top: -3rem;
      transform: translate(-50%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;

      height: 3rem;
      max-width: 150%;
      line-height: 3rem;
      padding: 0 1rem;

      text-align: center;
      background: var(--color-hover);
      border-radius: 1.5rem;
    }

    &:hover {
      background: var(--color-hover);

      svg {
        --color: var(--color-alt);
      }

      span {
        visibility: visible;
        opacity: 1;
      }
    }
  }

}
