:host {
  --size: 2rem;
  --background: var(--color-main);

  position: relative;
  display: inline-block;
  height: var(--size);
  width: 12rem;
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background);
    opacity: 0.3;
  }

  span {
    position: absolute;
    display: block;
    height: var(--size);
    width: var(--size);
    top: 0;
    border-radius: 50%;
    background-color: var(--color-alt);
    transform: translateX(-50%);

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 0.1rem solid var(--color-alt);
      transition: all 0.2s;
    }

    &:hover {
      // transform: scale(0.8);
      opacity: 0.9;

      &:before {
        transform: scale(1.4);
      }
    }

    &:active {
      // transform: scale(0.7);
      opacity: 0.9;

      &:before {
        transform: scale(1.3);
      }
    }
  }
}


:host([vertical]) {
  width: var(--size);
  height: 12rem;

  &:before {
    top: 0;
    height: 100%;
    width: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  span {
    top: auto;
    left: 50%;
    transform: translate(-50%, 50%) rotate(90deg);
  }
}


:host([handle]) {
  span {
    width: 0.5rem;
    height: calc(var(--size) * 2 / 3);
    border-radius: 0.2rem;

    &:before {
      display: none;
    }
  }
}
