:host {
  --bg: var(--color-bg-off);
  background: var(--bg);
  border-right: 0.1rem solid var(--color-line);
  user-select: none;

  display: grid;
  grid-template-columns: 12rem 1fr;


  aside {
    padding: calc(var(--margin) / 2);
    background-color: var(--color-dark);

    header {
      display: flex;
      align-items: center;
      height: 3rem;
      line-height: 3rem;
      * {
        vertical-align: middle;
      }
      s-button {
        line-height: 2.6rem;
      }
    }

    nav {
      --nav-color: var(--color-white);
      span * {
        display: inline-block;
        vertical-align: middle;
      }
      s-text {
        font-size: 1.4rem;
        color: var(--nav-color);
      }
      s-icon {
        --color: var(--nav-color);
        height: 2rem;
        line-height: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
      }

      span.active {
        --nav-color: var(--color-alt);
      }
    }
  }

  .results {
    padding-top: 3.5rem;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
        height: 4rem;
        line-height: 4rem;
        padding: 0 1rem;
        font-size: 1.3rem;
        text-decoration: none;
        color: var(--color-white);
        transition: all 0.1s;
        cursor: grab;
        background: var(--bg);
        position: relative;
        border-bottom: 0.1rem solid var(--color-line-soft);

        &:hover {
          color: var(--color-alt);
          --bg: var(--color-hover);
          .icons {
            right: 0;
            opacity: 1;
          }
        }

        .icons {
          position: absolute;
          display: flex;
          right: -2rem;
          top: 0;
          height: 100%;
          align-items: center;
          z-index: 2;
          background-image:
          linear-gradient(to right, transparent, var(--bg) 20%),
            linear-gradient(to right, transparent, #224 20%);
          padding-left: 2rem;
          transition: all 0.2s;
          opacity: 0;

          s-icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            cursor: pointer;

            &:hover {
              --color: var(--color-alt);
            }
          }
        }
      }
    }
  }

}
