:host {
  --rows: 3;
  display: grid;
  grid-template-columns: 25rem 1fr;

  background: var(--color-bg-off);
  border: 0.1rem solid var(--color-line);
  border-top-width: 0;
  user-select: none;
  overflow: hidden;

  &, * {
    box-sizing: border-box;
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(3, 4rem) 1fr;
    grid-template-rows: repeat(var(--rows), 4rem);
    border-right: 0.1rem solid var(--color-line);

    .button {
      border-right: 0.1rem solid var(--color-line-soft);
    }

    s-button[icon] {
      border-radius: 0;
      vertical-align: top;
      height: 4rem;
      width: 4rem;
      padding: 0.5rem;
      padding-top: 0.25rem;
      padding-left: 0.25rem;
      --stroke-width: 0.3rem;

      &.collapse {
        transform: rotate(90deg);
      }

      &[icon="record"][color="error"] {
        background: var(--color-error);
        --button-text: white;
      }
    }
    .button, s-text {
      border-bottom: 0.1rem solid var(--color-line-soft);
      height: 4rem;
      line-height: 4rem;
    }

    s-text {
      padding: 0 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 1.4rem;
    }
  }

  s-clip-editor {
    background-color: var(--color-black);
  }
}


:host([collapsed]) {
  --rows: 1;

  s-button[icon].collapse {
    transform: none;
  }

  .button, s-text {
    border-bottom-color: transparent;
  }

  .controls {
    height: 4rem;
  }
}


:host(:first-of-type) {
  border-top-width: 0.1rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

:host(:last-of-type) {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
