@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap');

@import './reset.scss';

:root.dark {
  --color-bg: #0a0b25;
  --color-main: white;
  --color-alt: #7d83df;
  --color-hover: #{rgba(white, 0.2)};
  --color-text: #a5a8d1;
}

:root.light {
  --color-bg: #bfc0d1;
  --color-main: #252a7a;
  --color-alt: ##252a7a;
  --color-hover: #{rgba(#252a7a, 0.2)};
  --color-text: #0a0b25;
}

:root.purple {
  --color-bg: #1E1E3F;
  --color-dark: #2D2B55;
  --color-main: #A599E9;
  --color-alt: #FAD000;
  --color-hover: #{rgba(#4D21FC, 0.2)};
  --color-text: #9EFFFF;
  --color-text-alt: #A5FF90;
  --color-feature: #FF9D00;
}

:root {
  --node-size: 12rem;
}

html {
  color: var(--color-text);
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  overflow: hidden;
}

body {
  font-size: 1.8rem;
  line-height: 3.6rem;
}

synthia-canvas {
  background:var(--color-bg) url('../images/background.svg') center;
  background-size: 5rem;
}

synthia-root {
  position: absolute;
  top: 50%;
  left: 50%;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background: var(--color-bg-2);
}


synthia-waveform {
  position: fixed;
  left: 10rem;
  bottom: 10rem;
}
