:host {
  * {
    box-sizing: border-box;
  }
  synthia-frequency-response {
    margin-left: calc(-1 * var(--margin));
  }

  form {
    margin-top: var(--margin);
    .form-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      label {
        flex: 1;
        flex-basis: 100%;
      }

      synthia-slider, synthia-expo-slider {
        flex-grow: 1;
      }

      .value {
        flex-grow: 0;
        display: inline-block;
        height: 4rem;
        line-height: 4rem;
        width: 8rem;
        padding: 0 1rem;
        margin-left: var(--margin);
        text-align: center;
        border-radius: 0.4rem;
        color: var(--color-alt);
        background: var(--color-bg);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
