:host {
  &, * {
    box-sizing: border-box;
  }

  --modal-header-height: 6rem;
  --modal-footer-height: 6rem;

  position: relative;
  z-index: 101;
  max-height: calc(100vh - var(--margin) * 8);
  overflow: hidden;
  background-color: var(--color-bg-off);
  border: 0.1rem solid var(--color-line);
  opacity: 0;
  animation: slide-up ease-out 0.2s forwards;

  &:before, &:after {
    --size: 0.5rem;
    content: '';
    position: absolute;
    box-sizing: border-box;
    height: var(--size);
    width: calc(100% + var(--size));
    margin-left: calc(var(--size)/-2);
    margin-top: calc(var(--size)/-2);
    border-left: var(--size) solid var(--color-line);
    border-right: var(--size) solid var(--color-line);
  }

  &:after {
    bottom: calc(var(--size) / -2);
  }

  header {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 4rem 3rem;
    padding-bottom: 3rem;
    padding-right: 8rem;
    height: var(--modal-header-height);
    position: relative;
    color: var(--color-white);

    h1, h2, h3 {
      margin: 0;
    }

    s-icon {
      position: absolute;
      top: 2.25rem;
      right: 2rem;
      height: 4rem;
      width: 4rem;
      --color: var(--color-main);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        --color: var(--color-alt);
      }
    }
  }

  main {
    overflow-y: auto;
    padding: 1rem 3rem 3rem 3rem;
    max-height: calc(100vh - 4rem - var(--modal-header-height) - var(--modal-footer-height));
  }

  footer {
    position: relative;
    display: flex;
    margin-top: 0;
    height: var(--modal-footer-height);
    padding: 1rem 3rem;
    align-items: center;
    justify-content: flex-end;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: var(--color-main);
      opacity: 0.05;
      z-index: -1;
    }

    s-button {
      margin-left: var(--margin);
    }
  }
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
