:host {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: calc(var(--margin) * 2);
  position: relative;

  .loading {
    color: var(--color-line);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  s-text[type=h4] {
    grid-column: span 4;
  }

  synthia-from-now {
    display: block;
    font-size: 1.2rem;
    color: var(--color-main);
  }


  a {
    text-decoration: none;
    color: var(--color-text);
    opacity: 0;
    animation: slide-up ease-out 0.1s forwards;

    &, synthia-card, * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 0.07s;
    }

    &:hover synthia-card {
      background: var(--color-hover);
      color: var(--color-alt);
    }
  }
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
