:host {
  --button-color: var(--color-alt);
  --button-bg: var(--button-color);
  --button-text: var(--color-bg);

  position: relative;
  display: inline-block;
  background: var(--button-bg);
  color: var(--button-text);
  border-radius: 0.4rem;
  padding: 0 1rem;
  transition: all 0.1s;
  height: 3rem;
  line-height: 3rem;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

:host(:hover) {
  opacity: 0.9;
}

:host(:active) {
  transform: scale(0.9);
  opacity: 0.8;
}


::slotted(*) {
  display: inline-block;
  color: var(--button-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.1s;
  vertical-align: middle;
}



:host-context([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}

:host-context([hollow]) {
  --button-text: var(--button-color);
  --button-bg: transparent;
}
:host-context([hollow]:hover) {
  background: var(--color-hover);
}
