:host {
  display: inline-block;
  width: 4rem;
  svg {
    height: 100%;
    width: 100%;

    path {
      stroke: currentColor;
      animation: sine 1s linear infinite;
    }
  }
}

@keyframes sine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
