// @import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap');

@import './reset.scss';
@import './fonts.scss';


:root.light {
  --color-bg: #bfc0d1;
  --color-main: #252a7a;
  --color-alt: ##252a7a;
  --color-hover: #{rgba(#252a7a, 0.2)};
  --color-text: #0a0b25;
}

:root,
:root.purple {
  --color-bg: #1E1E3F;
  --color-bg-off: #224;
  --color-dark: #2D2B55;
  --color-white: #e1efff;
  --color-main: #A599E9;
  --color-line: #{rgba(#A599E9, 0.3)};
  --color-alt: #FAD000;
  --color-hover: #{rgba(#4D21FC, 0.2)};
  --color-text: #9EFFFF;
  --color-text-alt: #A5FF90;
  --color-accent: #FF9D00;
  --color-feature: var(--color-text);

  --color-info: #4D21FC;
  --color-warning: var(--color-accent);;
  --color-error: #FF628C;
}

// :root.candy {
//   --color-bg: #fff;
//   --color-bg-off: #fdfdfd;
//   --color-dark: #fff;
//   --color-white: #ffffff;
//   --color-main: #cabbe9;
//   --color-line: #{rgba(#cabbe9, 0.3)};
//   --color-alt: #64d2eb;
//   --color-hover: #{rgba(#cabbe9, 0.2)};
//   --color-text: #6a2c70;
//   --color-text-alt: #A5FF90;
//   --color-accent: #ffcef3;
//   --color-feature: #64d2eb;

//   --color-info: #46ba94;
//   --color-warning: #f2ae49;
//   --color-error: #f51818;
// }

// :root.sunrise {
//   --color-bg: #f9ed69;
//   --color-bg-off: #ebe179;
//   --color-dark: #dfd673;
//   --color-white: #ffffff;
//   --color-main: #6a2c70;
//   --color-line: #{rgba(#6a2c70, 0.3)};
//   --color-alt: #b83b5e;
//   --color-hover: #{rgba(#6a2c70, 0.2)};
//   --color-text: #6a2c70;
//   --color-text-alt: #A5FF90;
//   --color-accent: #b83b5e;
//   --color-feature: #b83b5e;

//   --color-info: #46ba94;
//   --color-warning: #f2ae49;
//   --color-error: #f51818;
// }

:root {
  --node-size: 12rem;
  --margin: 1rem;
  --font-family: 'Space Mono', monospace;
}

html {
  background: var(--color-bg);
  color: var(--color-text);
  font-family:  var(--font-family);
  font-size: 7px;
  overflow: hidden;
}

body {
  font-size: 1.8rem;
  line-height: 3.6rem;
}

synthia-canvas {
  background:var(--color-bg) url('../images/background.svg') center;
  background-size: 5rem;
}

synthia-root {
  position: absolute;
  top: 50%;
  left: 50%;
}


synthia-waveform {
  position: fixed;
  left: calc(var(--margin) * 12);
  bottom: calc(var(--margin) / 4);
}

synthia-keyboard {
  position: fixed;
  left: calc(var(--margin) * 12);
  bottom: calc(var(--margin) * 8);
  width: 40rem;
  height: 3.5rem;
}

synthia-toaster {
  position: fixed;
  right: calc(var(--margin) * 2.5);
  bottom: calc(var(--margin) * 4);
  z-index: 100;
}


@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

html {
  @include for-size(phone-only) {
    font-size: 7px;
  }
  @include for-size(tablet-portrait-up) {
    font-size: 8px;
  }
  @include for-size(tablet-landscape-up) {
    font-size: 9px;
  }
  @include for-size(desktop-up) {
    font-size: 10px;
  }
}
