@mixin div {
  color: var(--color-white);
  transition: all 0.05s;
  font-size: 1.5rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: 0.2rem;
}

@mixin div-hover {
  background: var(--color-hover);
  color: var(--color-alt);
}


:host {
  display: none;
  border: 0.1rem solid var(--color-line);
  position: absolute;
  background: var(--color-bg-off);
  border-radius: 0.4rem;

  div {
    @include div;

    &:hover {
      @include div-hover;
    }
  }
}

:host([show]) {
  display: block;
}

::slotted(div) {
  @include div;
}
::slotted(div:hover) {
  @include div-hover;
}
