:host {
  --color: var(--color-main);
  transform-origin: center;
  transform: translate(-50%, -50%);

  &, svg {
    width: var(--node-size);
    height: var(--node-size);
  }

  svg {
    position: relative;
    transition: all 0.2s;

    &, * {
      transition: all 0.2s;
    }

    * {
      fill: none;
      transform-origin: center;
    }
  }

  .border {
    stroke: var(--color);
  }

  .center {
    stroke: var(--color);
    opacity: 0.2;
  }

  .shape {
    stroke: var(--color);
    transform-origin: center;
  }
}

:host(:hover) {
  svg {
    transform: scale(1.2);
  }
  .center {
    transform: rotate(-30deg) scale(1.5);
    fill: var(--color-hover);
  }
  .shape {
    // transform: rotate(45deg)
  }
}


@keyframes select-in {
  from {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
